{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>{{ object|yesno:"Update,Create" }} newspaper</h1>
        <hr style="width: 24rem">
        <br>
        <form action=""
              method="post"
              novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.title.id_for_label }}"
                   class="form-label fw-bold mb-3">Title</label>
            {{ form.title }}
          </div>
          <div class="mb-3">
            <label for="{{ form.content.id_for_label }}"
                   class="form-label fw-bold mb-3">Content</label>
            {{ form.content }}
          </div>
          <div class="mb-3">
            <label for="{{ form.topic.id_for_label }}"
                   class="form-label fw-bold mb-3">Topic</label>
            {{ form.topic }}
          </div>
          <div class="mb-3">
            <label for="{{ form.publishers.id_for_label }}"
                   class="form-label fw-bold mb-3">Publishers <span class="text-muted fw-light">(press Ctrl to select multiple)</span></label>
            {{ form.publishers }}
          </div>
          <input type="submit"
                 value="Post"
                 class="btn btn-primary mt-3">
          {% include "includes/go_back_button.html" %}
        </form>
      </div>
    </div>
  </div>
  <!-- MDB -->
  <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
  ></script>

{% endblock %}
