{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <h1 class="text-center">{{ newspaper.title }}
      {% if user.is_superuser or user in newspaper.publishers.all %}
      <span>
        <a class="btn btn-sm btn-outline-black ms-3 mb-2"
           href="{% url 'agency:newspaper-update' newspaper.id %}">Edit</a>
      </span>
      <span>
        <a class="btn btn-sm btn-danger ms-1 mb-2"
           href="{% url 'agency:newspaper-delete' newspaper.id %}">Delete</a>
      </span>
      {% endif %}
    </h1>
  </div>
  <hr class="mx-auto"
      style="width: 700px">
  <div class="text-center">
    <img src="{% if newspaper.image %}{{ newspaper.image.url }}{% endif %}"
         alt=""
         style="width: 550px; height: 300px">
  </div>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      {% for content in newspaper.get_content_list %}
        <p>{{ content }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="fixed-left fixed-top ms-5"
       style="margin-top: 20%">
    {% include 'includes/go_back_button.html' %}
  </div>
{% endblock %}
