{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row mt-4 mx-auto justify-content-center">
    {% for redactor in redactor_list %}
      <div class="col-4">
        <a class="btn btn-link"
           href="{% url 'agency:redactor-news' redactor.id %}">
          <div class="card"
               style="width: 18rem;">
            <img
                style="width:70px;height:70px;"
                class="card-img-top mx-auto mt-4"
                {% if redactor.profile_image %}
                  src="{{ redactor.profile_image.url }}"
                {% else %}
                  src="https://picsum.photos/1920/1080"
                {% endif %}
                alt="..."
            >
            <div class="card-body">
              <h5 class="card-title">
                {% if redactor.first_name %}
                  {{ redactor.first_name }} {{ redactor.last_name }}
                {% else %}
                  {{ redactor.username }}
                {% endif %}
              </h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
