{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row mt-4 mx-auto justify-content-center">
    {% for topic in topic_list %}
      <div class="col">
        <a class="btn" href="{% url 'agency:topic-news' topic.name %}">
          <div class="card" style="width: 18rem;">
            <img style="width:70px;height:70px;" class="card-img-top mx-auto mt-4" src="{% static 'images/' %}{{ topic.image_name }}" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ topic.name }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
