<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Logged Out</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
      body {
          background-color: #f5f5f5;
      }

      .logout-info {
          width: 300px;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 5px;
      }

      .logout-info h2 {
          text-align: center;
      }

      .logout-info p {
          text-align: center;
      }

      .logout-info button {
          width: 100%;
          margin-top: 10px;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3"
         style="margin-top: 12%">
      <div class="logout-info text-center">
        <h2>Logged Out</h2>

        <p>You have been successfully logged out.</p>

        <a href="{% url 'agency:login' %}" class="btn btn-dark">Log Back In</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-4 offset-4">
      <a href="{% url 'agency:index' %}" class="btn text-muted"> <- Home</a>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
